name: component release

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  changed:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  
      - name: Get changed files
        id: cf
        uses: tj-actions/changed-files@v47

      - name: Show all changed files
        run: |
          for f in ${{ steps.cf.outputs.all_changed_files }}; do
            echo "$f"
          done